@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.onboarding-logo{
  width: 10%;
}
.big-heading{
  font-family: Montserrat;
  font-style: black;
  font-weight: 1000;
  font-size: 40px;
  line-height: 183px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.navlogo {
	width: 10%;
}
.nav-link{
	padding: 2px 0 ;
}
.padding-medium{
	padding: 70px;
  	margin: auto;
}
.padding-small{
	padding: 30px;
  	margin: auto;
}
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 70%;  /* The width is the width of the web page */
	margin: 0 auto;
}
#content{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  	color: white;
  	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
  background-attachment: fixed;
}

.bg-image {
  /* The image used */
  background-image: url("../images/medical_assistance_1.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-image-2 {
  /* The image used */
  background-image: url("../images/background_1.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-back{
  color: #39E991;
}
.btn-main{
	background-color: #39E991;
	border-radius: 50px;
	color: black;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
  border: 1px solid #39E991;

border-radius: 43px;
}

.heading{
	padding-bottom: 100px
}
.card{
	width: 18rem;
	padding: 10px;
	padding-top: 20px;
	margin: 10px;
	border-radius : 50px;
	color: black;
}
input[type='radio']:after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -4px;
    left: -2px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #39E991;
}

input[type='radio']:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -4px;
    left: -2px;
    position: relative;
    background-color: #39E991;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #39E991;
}
.form{
	size: 20px;
}
.vl {
  border-left: 3px solid #39E991;
  height: 300px;
}

.form-title{
	color: #39E991;
}
input[ type="text"]{
	border-radius: 57px;
	margin: 20px;
	background-color: #393939; 
	border: 1px solid #39E991;
}
.form-main {
	width: 70%;
	margin: 0 auto;
}
.hospital-title{
	color: #39E991;
}
.bold{
  font-weight: bold;
}
.center{
	margin: 0 auto;
}
